{%extends "layout.html"%} 
{% block content %}

      <table class="table">
        <tr><th>SELECT REQUEST TYPE:</th>
         <td><select class="button" id ="1">
         <option value="POST">POST</option>
         <option value="GET">GET</option>
         <option value="PUT">PUT</option>
         <option value="DELETE">DELETE</option>
         <option value="HEAD">HEAD</option>
         <option value="OPTIONS">OPTIONS</option>
         </select></td></tr>
         <tr><th>SITE URL:</th><td>      <form role="form" method='POST'>
          <div class="form-group">
            <input type="text" name="url" class="input" id="1" placeholder="Enter URL...">
          </div>
                </form></td></tr>
         <tr><th>CHANGE USER-AGENT?</th><td><select id="1" class="button">
         </div>
         <option value="POST">YES</option><option value="GET">NO</option></td></tr>
    

         <tr><th>INSERT USER-AGENT:</th>
         <td><form class="form" id="1" Name="user_agent"><input type="text"></form></td></tr>
         <tr><td colspan="2"><button class="button" name ="start_button" id="1" type="submit" style="background-color: red">START</button></td></tr>
        </table>
        <h1>{{a}}</h1>
        <h3>{{results}}</h3>

{%endblock content%}